* {
    margin: 0;
    padding: 0;
    background-color: cadetblue;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
}

.btn {
    text-align: center;
    background-color: powderblue;
    color: black;
    padding: 20px;
    margin: 10px;
    font-size: 20px;
    border: 2px solid darkslategray;
    border-radius: 4px;
}

#submit-btn {
  text-align: center;
  background-color: powderblue;
  color: black;
  padding: 5px;
  margin: 5px;
  font-size: 14px;
  border: 2px solid darkslategray;
  border-radius: 4px;
}

#controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

#time {
  text-align: right;
  margin-right: 100px;
  margin: 50px;
}

.answer-btn{
  margin: 22px 8px 10px;
  padding: 5px 5px;
  font-size: 18px;
  justify-content: center;
  border-radius: 3px;
}


button:hover {
    color: grey;
    cursor: crosshair;
  }

  button:active {
    box-shadow: 5px 5px grey;
  }

  h1 {
      font-size: 45px;
      color: whitesmoke;
      margin-top: 5rem;
      margin-bottom: 5rem;
      text-align: center;
  }

  h2 {
    font-size: 20px;
    color: whitesmoke;
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;

  }


  #container{
      width: 800px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 80%;
      margin: 0 auto;
      border:darkslategray solid 3px;
      border-radius: 5px;
      padding: 30px;
      text-align: center;
  }

  @media screen and (max-width: 1200px) {
    body {
      display: flex;
      flex-direction: column;
      }
    }
    
    @media screen and (max-width: 768px) {
      body {
      display: flex;
      flex-direction: column;
        
      }
    }